/* COLORS

#0B0F1A; /*Dark blue*/
#14376C; /*Blue*/
#A9CFE2; /*Light blue*/
#FDFDFD; /*Dirty white*/
#B82B21; /*Red*/




/* GLOBAL STYLES ----------------------------------------------------------*/

html{
    height: 100%;
}

body{
    background-color: #0B0F1A; /*Dark blue*/ 
    color: white;
    margin: 0 auto;
    min-height: 100%;
    font-family: futura-pt, sans-serif;
    font-weight: 200;
    font-size: 1.5em; 
    text-align: center;
    position: relative;
}

header{
    max-width: 80vw;
    margin: auto;
    margin-bottom: 20px;
}

h1{
    text-transform: uppercase;
    font-weight: 200;
}

h2, h3{
    text-transform: uppercase;
    font-weight: 100;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
    transition: opacity 0.6s;
}

.button-style {
    padding: 6px 12px 6px 12px;
    text-align: center;
    border: 1.5px solid white;
    border-radius: 6px;
}

.button-style:hover{
    color:  #0B0F1A;
    background-color: white;
}

.content{
    max-width: 960px;
    margin: auto;
}

.responsive{
    width: 100%;
    max-width: 960px;
    height: auto;
}

.quote-section{
    margin: auto;
    padding: 10%;
    max-width:960px;
}

/* MAIN NAVIGATION ------------------------------------------------------------------------------------*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}

.nav-elements{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.nav-elements li{
    list-style-type: none;
}

.nav-elements a:hover{
    opacity: 70%;
}

.active{
    opacity: 70%;
}

.menu-button{
    display:none;
}

.menu-button div{
    width: 25px;
    height: 3px;
    background-color:white;
    margin: 5px;
    border-radius: 1px;
}

.logo{
    font-family: nasalization, sans-serif;
    color: #B82B21; /*Red*/   
}

.logo a{
    color: #B82B21; /*Red*/ 
}


/* HERO --------------------------------------------------------------------------------------*/


#hero-image{
    background-image:url(/images/moon.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero-text{
    font-size: 150%;
    color: white;
    align-content:left;
    text-align: left;
    padding:15%;
    max-width: 40vw;    
} 

#hero-text h1{
     font-weight: 500;
    
}

/* HOMEPAGE SECTIONS -----------------------------------------------------------------------------*/

#launch-section-homepage{
    background-image: url(/images/to-the-moon.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	padding: 20% 20% 20% 10%;
    margin: auto;
    align-items: center;
}

#next-launch-container{
    max-width: 500px;
    color: #0B0F1A; /*Dark blue*/
    text-align: left;
    font-weight: 400;
}

#next-launch-container a{
    color: #0B0F1A; /*Dark blue*/
    border: 1.5px solid #0B0F1A; /*Dark blue*/
}

#next-launch-container a:hover{
    color: white;
    background-color: #0B0F1A; /*Dark blue*/
    border: 1.5px solid #0B0F1A; /*Dark blue*/
}

#spacepeople-section-homepage{
    background-image: url(../images/astronaut.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	padding: 20% 20% 20%;
}

#people-container{
    text-align: left;
    align-content: left; 
    max-width: 60vw;
}

#about-section-homepage{
    padding: 15%;
}


/* ABOUT PAGE-------------------------------------------------------------------------------*/

#apod-section{
    margin: auto;
    padding: 10% 0 10% 0;
}

#apod-section a:hover{
    opacity: 60%;
}

/* CONTACT PAGE-----------------------------------------------------------------------------*/

#contact-page{
    background-image: url(/images/space.jpg);
    min-height: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#contact-form{
    text-align: left;
    max-width: 700px;
    margin: auto;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color:#14376C; /*Blue*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:  #A9CFE2; /*Light blue*/
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

#email-input:valid {
  border-color: black;
}

.email-input:invalid {
  border-color: red;
}

.social{
    padding: 6% 0 6% 0;
}

.social ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social a:hover{
    text-decoration: underline;
    
}

/* LAUNCHES PAGE ---------------------------------------------------------------------*/

#launches-page{
    background-image: url(/images/rocket.jpeg);
    min-height: 100vh;;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}

#scrolling-area{
    max-width: 50vw;;
    height: 500px;
    overflow:scroll;
    margin: auto;
    background-color: none;
}

#launch-container{
    text-align: left;
    padding-right: 5px;   
}

#launch-container a:hover{
    opacity: 60%;
}


/* TABLET AND MOBILE STYLES ------------------------------------------------------------------------------------*/

@media only screen and (max-width: 900px) {
    
    .body{
        overflow-x: hidden;
    }
    
    .content{
        max-width: 80vw;
    }
    
    #hero-image{
        object-fit: cover;
    }
    
    #hero-text{
        font-size: 160%;    
    }
    
     .nav-elements{
        position: absolute;
        left: 0;
        height: 92vh;
        top: 8vh;
        background-color: black;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        flex-basis: auto;
        align-items: left;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
     }
    
    .nav-elements i{
        opacity: 0;
    }
    
    .menu-button{
        display:block;
        cursor: pointer;
    }
    
    .menu-button div{
        transition: all 0.4s ease;
    }
    
    .nav-active{
        transform: translateX(0%);
    }
    
    .close .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    
    .close .line2{
        opacity: 0;
    }
    
    .close .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }
    
    .quote-section-homepage{
        padding: 15% 0 15% 0;
        max-width:90vw;
    }
    
    #people-container{
        font-size: 120%; 
        max-width: 90vw;
    
    }
    #apod-container{
        max-width: 90vw;
    }
    
    #contact-form{
        max-width: 80vw;
    }
    
    #scrolling-area{
        max-width: 90vw;
        font-size: 1.2em;   
    }
    
    #launch-container{
        max-width: 90vw;
    }
    
}

/*------------------------------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
    
    #hero-text{
        font-size: 120%;
        padding-left: 7%;
        max-width: 90vw;
    }
    
    .content{
        max-width: 90vw;
    }
 
    .social ul{
        width: 90vw;
        flex-direction: column;
        text-align: left;
        
    }
}
